@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; /* Offset para ancoragem suave */
}

/* Adiciona scroll offset para todas as seções */
section {
  scroll-margin-top: 100px;
}

a {
  transition: color 0.2s;
}

::-webkit-scrollbar {
  width: 8px;
  background: #23272f;
}
::-webkit-scrollbar-thumb {
  background: #18181b;
  border-radius: 8px;
}
